<ion-view view-title="Preferences">
    <ion-content>

        <div class="list">

            <div class="item item-toggle">
                Enable updates
                <label class="toggle">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>


            <div class="item item-avatar item-button-right">
                <img src="{{fbData.pic}}">
                <h2>{{fbData.name}}</h2>
                <button ng-click="logout()" class="button">
                    Log out
                </button>
            </div>


            <div class="item item-divider">
                About us
            </div>

            <a class="item" ng-click="">
                <i class="icon ion-ios-wineglass-outline"></i> Drink something with us
		</a>

        </div>

    </ion-content>
</ion-view>