<ion-view view-title="Theory book">
        <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
            <div class="tabs">
                <a class="tab-item active" href="#">
                    <i class="icon ion-home"></i>
                    Test
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-star"></i>
                    Favorites
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-gear-a"></i>
                    Settings
                </a>
            </div>
        </div>

    <ion-content>
        <!--FIXME the buttons abobe are absolute-->
        <br/><br/>

        <!--Search box-->
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model="query">
            </label>
        </div>

        <!--List of contents-->
        <div class="list">
            <a class="item " ng-repeat="content in contents | filter:query | orderBy: 'title' " 
               href="#/app/contents/{{content.namekey}}">
              <!-- <img class="img-content img-circle" src="{{content.image}}"> -->
              <h2>{{content.title}}</h2>
              <p>{{content.description}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>


